.cell {
  display: inline-block;
  width: 5em;
  height: 5em;
  border: 1px solid #999;
  vertical-align: top;
  text-align: center;
}
.cell.tipo4 {
  background: #000;
  color: #ffe455;
}
.cell.tipo4:after {
  content: "4";
  font-size: 20px;
  line-height: 4;
}
.cell.tipo0 {
  background: #ffe455;
  color: #000
}
.cell.tipo0:after {
  content: "0";
  font-size: 20px;
  line-height: 4;
}