footer {
  overflow: hidden;
  background: $cColor;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding-top: 3em;
  p {
    text-align: center;
    padding: 2em;
    font-family: $font2;
  }
}