header {
  position: relative;
  .fondo-fijo{
    z-index: 100;
    position: fixed;
    height: 8em;
    top: 0;
    left: 0;
    right: 0;
    background: $cColor;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
  }
  .contenido-fijo {
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .scroll {
    height: 20vw;
    min-height: 10em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    z-index: 200;
    background: $cColor;
    background-size: cover;
    overflow: hidden;
  }
  a {
    height: 100%;
    width: auto;
    box-sizing: border-box;
    display: inline-block;
  }
  a:hover {
    background: none;
  }
  .logo-svg {
    svg {
      height: 5em;
      margin: 1em 2em;
    }
  }
  .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    font-size: 3em;
    transition: all 0.4s ease;
    overflow: hidden;
    margin: 0;
    padding: .5rem 0 1.5rem 3.5rem;
  }
}

amp-sidebar {
  background: $cColor;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
}
.menu {
  a {
    display: block;
    color: $cNegro;
    padding: 0.02em;
    line-height: 1;
    margin: 0.8em;
    margin-left: 2em;
    font-size: 2em;
    height: auto;
    text-align: right;
    font-family: $font2;

    &:hover {
      background: initial;
      color: initial;
    }
  }

  .menu-toggle {
    position: relative;
    color: #000;
    font-size: 3em;
    transition: all 0.4s ease;
    overflow: hidden;
    margin: 0;
    padding: .5rem 0;
  }

  &.open {
    width: 20em;
  }
}

@media (min-width: 600px) {
  .menu {
    &.open{
      width: 25vw;
    }

    a {
      font-size: 3em;
    }
  }
}