.presentation {

}
.works {
  padding-top: 10%;
  padding-bottom: 10%;
  background: $cColor;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  overflow: hidden;
}
.work-item {
  position: relative;
  float: left;
  background: $cNegro;
  padding-bottom: 50%;
  height: 0;
  width: 50%;
  max-width: 30em;
  margin: auto;
  transition: all 0.2s ease;
  overflow: hidden;

  amp-img {
    transition: all 0.4s ease;
  }

  .caja-texto {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin-right: 1em;
      margin-top: 1em;
    h2 {
      color: $cNegro;
      background: $cColor;
      font-size: 1.8em;
      padding: .2rem .7rem;
      margin-bottom: .1em;
      display: inline-block;
    }
    .resumen {
      height: 0;
      transition: all 0.4s ease;
      overflow: hidden;
      padding-left: 1.2em;
      color: $cBlanco;
    }
    a {
      background: $cColor;
      color: $cNegro;
      display: inline-block;
      padding: 0.2em 0.6em;
      span {
        font-size: 80%;
        margin-left: 1em;
      }
    }
  }

  

  &:hover {
    transform: scale(1.05);
    z-index: 99;
  }
}
.recent-posts {
  padding-top: 10%;
  padding-bottom: 10%;
  background: $cNegro;
  color: $cColor;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  .post {
    padding-bottom: 50%;

    .summary {
      opacity: 0;
      transition: all 0.4s ease;
      color: $cBlanco;
      background: rgba(0,0,0,.5);
      padding: 2em 1em;
      margin-top: 1em;
      overflow: hidden;
    }
    .button {
      font-size: 1em;
    }
  }
}
.logos {
  padding-bottom: 3em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .logo {
    display: inline-block;
    width: 20%;
    min-width: 50px;
    max-width: 150px;
    padding: 10px 20px;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}
@media screen and (min-width: 600px) {
  .work-item {
    width: 33.3333%;
    padding-bottom: 33.3333%;
    .caja-texto {
      h2 {
        font-size: 2.4em;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .presentation {
    overflow: hidden;
    p {
      float: left;
      width: 33.3333%;
      box-sizing: border-box;
      padding-right: 2em;
    }
  }
  .recent-posts {
    .post {
      .summary {
        opacity: 1;
      }
    }
  }
}
@media screen and (min-width: 920px) {
  .work-item {
    width: 25%;
    padding-bottom: 25%;
    
    &:hover {
      amp-img {
        opacity: 0.2;
      }

      .caja-texto .resumen {
        height: auto;
      }
    }
  }
}