
.work-item {
  position: relative;
  float: left;
  background: $cNegro;
  padding-bottom: 50%;
  height: 0;
  width: 50%;
  max-width: 30em;
  margin: auto;
  transition: all 0.2s ease;
  overflow: hidden;

  amp-img {
    transition: all 0.4s ease;
  }

  .caja-texto {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin-right: 1em;
      margin-top: 1em;
    h2 {
      color: $cNegro;
      background: $cColor;
      font-size: 1.8em;
      padding: .2rem .7rem;
      margin-bottom: .1em;
      display: inline-block;
    }
    .resumen {
      height: 0;
      transition: all 0.4s ease;
      overflow: hidden;
      padding-left: 1.2em;
      color: $cBlanco;
    }
    a {
      background: $cColor;
      color: $cNegro;
      display: inline-block;
      padding: 0.2em 0.6em;
      span {
        font-size: 80%;
        margin-left: 1em;
      }
    }
  }

  &:hover {
    amp-img {
      opacity: 0.2;
    }

    .caja-texto .resumen {
      height: auto;
    }
  }
  

  &:hover {
    transform: scale(1.05);
    z-index: 99;
  }
}

@media screen and (min-width: 600px) {
  .work-item {
    width: 33.3333%;
    padding-bottom: 33.3333%;
    height: 0;
    .caja-texto {
      h2 {
        font-size: 2.4em;
      }
    }
  }
}