.post {
  nav span {
    display: inline-block;
    font-size: 75%;
    vertical-align: middle;
  }
  h1 {
    margin-bottom: 0.6em;
  }

  p {
    font-size: 1.6em;
    line-height: 1.5;
  }
  article a {
    text-decoration: underline;
  }

  transition: all 0.4s ease;

  .data {
    text-align: right;
    color: $cGris;
    font-style: italic;
    font-size: 1.5em;
    border-top: 1px solid $cGris;
    margin-bottom: 2em;
    span {
      background: $cBlanco;
      margin-top: -0.7em;
      float: right;
      padding-left: 1em;
    }
  }
  .categories {
    // text-align: center;
    float: left;
    padding-right: 1em;
    background: $cBlanco;
    margin-top: -0.8em;
    font-size: 1.5em;
    a {
      display: inline-block;
      padding: 0.2em;
    }
  }
  .social {
    text-align: center;
    h4 {
      text-align: center;
      margin-bottom: 0;
    }
    p{
      margin-top: 0;
      font-size: 3em;
    }
    a {
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s ease;
      padding: 0.5em;
      &:hover {
        background: inherit;
        color: initial;
        transform: scale(1.4) rotate(15deg);
      }
    }
  }
}
