// @import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:400,500');

$font1: 'Ubuntu', sans-serif;
$font2: 'Ubuntu Condensed', sans-serif;

$cGris: #999999;
$cNegro: #000000;
$cBlanco: #FFFFFF;
$cColor: #FFE455;